#player-container:not(#opponent){
    --player-text-color: lightslategray;

    display: flex;
    flex-direction: column;
}

#player-tag{
    margin: auto;
    text-align: center;

    color: var(--player-text-color);

    font-size: 3rem;
}