#player-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#player-tag{
    margin: auto;
    text-align: center;

    color: lightslategray;

    font-size: 3rem;
}