.gameSettings{
  font-size: 2rem;
  text-align: center;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  margin: auto;
}

.gameSettings button{

  font-size: 1.6rem;

  padding: 0.5em 0.25em;
  
  border-radius: 25px;

  width: 15%;
  max-width: 200px;
  margin: 0px auto;
}

.gameSettings input{
  width: 15%;
  max-width: 200px;
}

.gameSettings label{
  display: block;
}

.gameSettings output{
  display: block;
}

.gameSettings .ranges{
  display: inline-block;
  margin: 1em 2em;
}

.gameSettings .ranges input{
  width: 100%;
}
